In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Disease_symptom_and_patient_profile_dataset.csv")

In [6]:
df.columns

Index(['Disease', 'Fever', 'Cough', 'Fatigue', 'Difficulty Breathing', 'Age',
       'Gender', 'Blood Pressure', 'Cholesterol Level', 'Outcome Variable'],
      dtype='object')

In [7]:
df.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive

In [9]:
# How many unique values in the Disease column
df['Disease'].nunique()

116

In [15]:
# Unique value count in the Disease column
# Filter value counts by the top 10
df['Disease'].value_counts().head(10)

Asthma             23
Stroke             16
Osteoporosis       14
Hypertension       10
Diabetes           10
Migraine           10
Influenza           8
Pneumonia           8
Bronchitis          8
Hyperthyroidism     7
Name: Disease, dtype: int64

In [21]:
# Filter disease where value count is greater than 5
df['Disease'].value_counts()[df['Disease'].value_counts() >= 5]

Asthma                     23
Stroke                     16
Osteoporosis               14
Hypertension               10
Diabetes                   10
Migraine                   10
Influenza                   8
Pneumonia                   8
Bronchitis                  8
Hyperthyroidism             7
Hypothyroidism              7
Osteoarthritis              6
Kidney Cancer               6
Common Cold                 6
Liver Cancer                6
Depression                  6
Rheumatoid Arthritis        6
Eczema                      6
Allergic Rhinitis           6
Anxiety Disorders           6
Gastroenteritis             6
Urinary Tract Infection     5
Liver Disease               5
Psoriasis                   5
Alzheimer's Disease         5
Crohn's Disease             5
Multiple Sclerosis          5
Coronary Artery Disease     5
Pancreatitis                5
Parkinson's Disease         5
Ulcerative Colitis          5
Kidney Disease              5
Name: Disease, dtype: int64

In [20]:
# Filter Disiase == Hypoglycemia
df[df['Disease'] == 'Liver Disease']

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
85,Liver Disease,No,No,Yes,No,35,Male,High,High,Positive
103,Liver Disease,No,Yes,No,Yes,38,Male,Low,Normal,Negative
149,Liver Disease,Yes,No,No,Yes,42,Female,Normal,Normal,Negative
191,Liver Disease,Yes,Yes,Yes,No,45,Female,Normal,High,Positive
251,Liver Disease,No,Yes,Yes,No,55,Male,High,Low,Negative